/* ***
 * VARIABLES *  
 *** */
$title-font: 1.8rem 'Salsa', cursive;
$body-font: 1rem 'Play', sans-serif;
$light-txt: rgb(255, 217, 181);
$txt-shadow: 0px 2px 3px rgba(255, 217, 181, 0.15);
$dark-bg: #1b100c;
$sidebar-bg: #1b0801;
$transp-dark-bg: #1b100cd0;
$transp-light-bg: #99803329;
$primary: #e1b166;
$secondary: #cba468;
$pos-val: rgb(59, 241, 59);
$neg-val: rgb(236, 74, 74);
$def-val: rgb(216, 194, 70);
$border-radius: 5px;
$box-shadow: 0 19px 38px rgba(36, 24, 8, 0.23), 0 15px 12px rgba(46, 33, 15, 0.15);
/* ***
  * RESETS *  
  *** */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button,
optgroup,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background-image: none;
}

select,
input,
option {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	background-image: none;
}

/* ***
  * STYLES *  
  *** */

/*Sweet Alert Styles*/
.swal-title,
span.swal-txt {
	color: $primary;
	font: $title-font;
	font-size: 1.3rem;
	text-align: center;
}

button.swal2-confirm {
	background: $primary !important;
}

/* Custom Imput*/
.input {
	input {
		flex: 1;
		padding: 0 0.7em;
		width: 300px;
		height: 48px;
		cursor: pointer;
		line-height: 3;
		font: $body-font;
		color: #fff;
		border-radius: $border-radius;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border: 0.1px $secondary solid;
		background: $transp-light-bg;
	}
	textarea:focus,
	input:focus {
		outline: none;
	}
	::placeholder {
		color: #fff;
		opacity: 1;
	}
}
/* Custom Select */
.select {
	position: relative;
	display: flex;
	width: 348px;
	height: 48px;
	line-height: 3;
	overflow: hidden;
	box-shadow: $box-shadow;
	border-radius: $border-radius;
	select {
		flex: 1;
		padding: 0 0.5em;
		color: #fff;
		background: $transp-light-bg;
		cursor: pointer;
		border: 0.1px $secondary solid;
		font: $body-font;
		option {
			font: $body-font;
			background-color: $primary;
		}
	}
	/* Arrow */
	::after {
		content: '\25BC';
		position: absolute;
		top: 0;
		right: 0;
		padding: 0 1em;
		background-color: $secondary;
		cursor: pointer;
		pointer-events: none;
		-webkit-transition: 0.25s all ease;
		-o-transition: 0.25s all ease;
		transition: 0.25s all ease;
	}
}

/* Sidebar */
.sidebar {
	z-index: 100;
	padding: 10px 20px 10px 20px;
	height: 100%;
	width: 260px;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	border-right: 3px solid black;
	background-color: #210200;
	background-image: url('https://www.transparenttextures.com/patterns/leather.png');
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	> div,
	h4 {
		margin-bottom: 10px;
	}

	.mods {
		display: flex;
		padding-left: 10px;
		padding-right: 10px;

		img {
			margin-top: -25px;
			width: 96px;
			padding: 10px;
		}
	}

	#sideName {
		font: $title-font;
		font-size: 2rem;
		text-align: center;
		font-style: italic;
		color: $primary;
		animation: blinker 2s linear infinite;
	}

	@keyframes blinker {
		50% {
			opacity: 0;
		}
	}

	#avatar {
		max-width: 220px;
		max-height: 210px;
		box-shadow: $box-shadow;
		margin: 10px auto 16px auto;
	}
}

#characterStats {
	display: none;
	width: 218px;
	font: $body-font;
	color: $light-txt;
}

.stats-title {
	font: $body-font;
	font-size: 1.1rem;
	text-align: center;
}

.stats-pos-value {
	float: right;
	color: $pos-val !important;
}
.stats-neg-value {
	float: right;
	color: $neg-val !important;
}
.default {
	float: right;
	color: $def-val;
}

#nameRace,
#nameClass,
#nameBackground {
	color: $primary;
	font: $title-font;
	font-size: 1.5rem;
	text-align: center;
}

.github {
	display: flex;
	justify-content: center;
	align-items: center;
	place-items: center;
	position: absolute;
	width: calc(100% - 40px);
	bottom: 0;
}

/* General */

#cardWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-left: 260px; // avoid sidebar overlapping
	background-image: url('/main/img/bg.jpg');
	background-position: center;
	background-size: auto;
	min-height: 100vh;

	> div {
		transform-origin: right;
		transform: translateX(-2000px);
		transition: transform 1s ease-in-out;
		display: grid;
		position: absolute;
	}

	.card {
		display: grid;
		place-items: center;
		width: 700px;
		height: 500px;
		padding: 35px;
		border-radius: 5px;
		border: 0.1px $secondary solid;
		background: $transp-dark-bg;
		box-shadow: $box-shadow;
		.card-title {
			display: grid;
			place-items: center;
			font: $title-font;
			text-align: center;
			color: $primary;
			text-shadow: $txt-shadow;
			h3 {
				font-size: 2.2rem;
				white-space: nowrap;
			}
		}
		.card-content {
			display: grid;
			place-items: center;
			> {
				margin: 15px;
			}
			#randomName {
				cursor: pointer;
				width: 48px;
				height: 48px;
				margin-left: -5px;
				background: $secondary;
				border: 0.1px $secondary solid;
				border-radius: 5px;
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
				box-shadow: $box-shadow;
			}
		}
		.card-buttons {
			display: inline-block;
			margin: 15px;
		}
	}
}
#easterEgg {
	position: absolute;
	bottom: 165px;
	right: 165px;
	width: 150px;
	cursor: pointer;
}
.rotate-scale-up {
	-webkit-animation: rotate-scale-up 4s linear 5s infinite both;
	animation: rotate-scale-up 4s linear 5s infinite both;
}

@-webkit-keyframes rotate-scale-up {
	0% {
		-webkit-transform: scale(1) rotateZ(0);
		transform: scale(1) rotateZ(0);
	}
	50% {
		-webkit-transform: scale(1.3) rotateZ(180deg);
		transform: scale(1.3) rotateZ(180deg);
	}
	100% {
		-webkit-transform: scale(1) rotateZ(360deg);
		transform: scale(1) rotateZ(360deg);
	}
}
@keyframes rotate-scale-up {
	0% {
		-webkit-transform: scale(1) rotateZ(0);
		transform: scale(1) rotateZ(0);
	}
	50% {
		-webkit-transform: scale(1.3) rotateZ(180deg);
		transform: scale(1.3) rotateZ(180deg);
	}
	100% {
		-webkit-transform: scale(1) rotateZ(360deg);
		transform: scale(1) rotateZ(360deg);
	}
}

.swal2-image {
	border-radius: $border-radius;
}

#stage1 {
	.select {
		margin-top: 15px;
	}
}

#stage2 {
	.card-content {
		.avatars {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			gap: 0px 0px;
			align-items: center;
			transition: all 0.3s ease-in;
		}
		.avatar-wrapper {
			display: grid;
			place-items: center;
			transition: all 0.3s ease-in;
			input {
				display: none;
				width: 120px;
			}
			.avatar-title {
				font: $title-font;
				font-size: 24px;
				color: $light-txt;
			}
			.stats-wrapper {
				display: none;
			}
		}
		.avatar-wrapper:hover {
			background: $transp-dark-bg;
			border: 0.1px solid $secondary;
			width: 250px;
			padding: 10px;
			transform: scale(1.2);
			z-index: 100;
			transition: all 0.3s ease-in;

			.stats-wrapper {
				display: block;
			}
		}
	}
}

.avatars:hover > div:not(:hover) {
	transition: all 0.7s ease-in;
	transform: translateX(-25%) translateY(-25%) scale(0.7);
	opacity: 0.5;
}

#stage3 {
	.card-content {
		.classes {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			gap: 0px 0px;
			align-items: center;
			transition: all 0.3s ease-in;
		}
		.class-wrapper {
			display: grid;
			place-items: center;
			transition: all 0.3s ease-in;
			input {
				width: 120px;
			}
			.class-title {
				font: $title-font;
				font-size: 24px;
				color: $light-txt;
			}
			.stats-wrapper {
				display: none;
			}
		}
		.class-wrapper:hover {
			background: $transp-dark-bg;
			border: 0.1px solid $secondary;
			width: 250px;
			padding: 10px;
			transform: scale(1.2);
			z-index: 100;
			transition: all 0.3s ease-in;

			.stats-wrapper {
				display: block;
			}
		}
	}
}

.classes:hover > div:not(:hover) {
	transition: all 0.7s ease-in;
	transform: translateX(-25%) translateY(-25%) scale(0.7);
	opacity: 0.5;
}
#stage4 {
	.card-content {
		.backgrounds {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			gap: 0px 0px;
			align-items: center;
			transition: all 0.3s ease-in;
		}
		.back-wrapper {
			display: grid;
			place-items: center;
			transition: all 0.3s ease-in;
			input {
				width: 120px;
			}
			.back-title {
				font: $title-font;
				font-size: 24px;
				color: $light-txt;
			}
			.stats-wrapper {
				display: none;
			}
		}
		.back-wrapper:hover {
			background: $transp-dark-bg;
			border: 0.1px solid $secondary;
			width: 250px;
			padding: 10px;
			transform: scale(1.2);
			z-index: 100;
			transition: all 0.3s ease-in;

			.stats-wrapper {
				display: block;
			}
		}
	}
}

#stage5 {
	.card-content {
		textarea {
			width: 625px;
			height: 320px;
			padding: 15px;
			font: $body-font;
			font-size: 1.3rem;
			border-radius: 10px;
			background-color: #4d2a00;
			background-image: url('https://www.transparenttextures.com/patterns/light-paper-fibers.png');
		}
		#charcount {
			font: $body-font;
			font-size: 14px;
		}
	}
}

textarea {
	color: $primary;
}

#charcount {
	font: $body-font;
	color: $primary;
}

.classes:hover > div:not(:hover) {
	transition: all 0.7s ease-in;
	transform: translateX(-25%) translateY(-25%) scale(0.7);
	opacity: 0.5;
}

.race-button,
.class-button,
.back-button {
	display: grid;
	place-items: center;
	padding: 15px;
}

.avatar-stats,
.class-stats,
.back-stats,
#sideStats {
	font: $body-font;
	color: $light-txt;

	.tongue {
		float: right;
		color: yellow !important;
	}
	.stats-pos-value {
		float: right;
		color: $pos-val !important;
	}
	.stats-neg-value {
		float: right;
		color: $neg-val !important;
	}
	.default {
		float: right;
		color: $def-val;
	}
}

.button {
	cursor: pointer;
	font: $body-font;
	text-transform: uppercase;
	min-width: 106px;
	padding: 15px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
	background: $secondary;
	box-shadow: 0px 13px 15px -5px rgba(0, 0, 0, 0.45);
	transition: all 0.15s;
}
.button:hover {
	color: $light-txt;
	background: $primary;
	transition: all 0.15s;
}

/* HIDE / SHOW*/

div.show-card {
	//cards
	transform: translateX(0px) !important;
}

input.show-avatar {
	// show selected gender
	display: block !important;
}

div.show-stats {
	display: block !important;
}

.hide {
	display: none;
}
